body {
  font-family: 'Open Sans', sans-serif;
  background-color: #6750A4;
  font-family: "Inter", sans-serif;
}

#title {
  margin: 10px;
}

h1 {
  text-align: center;
  color: #EADDFF;
}

#calendar-container {
  margin: 0 auto;
  max-width: 1100px;
}

#calendar {
  width: 100%;
  min-height: 700px;
  background-color: #FFFBFE;
  padding: 20px;
  font-size: 0.8rem;
}

.fc-daygrid-dot-event .fc-event-time,
.fc-daygrid-dot-event .fc-event-title {
  color: #000;
}

.fc .fc-toolbar {
  flex-wrap: wrap;
}

.fc-toolbar-chunk {
  margin: 5px 0;
}